<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Perfil</title>
</head>
<body>
    <!-- <h1>Bem Vindo <%= name%> <%= email%> <%= created_at%> </h1> -->
    <div class="container">
        <div class="menu">
            <ul class="menu-left">
                <a href="/"><img src="../img/logo7-.png" alt="" class="logo"></a>
                <a href="#favorites"><li class="menu-itens">Favoritos</li></a>
                <a href="#interest"><li class="menu-itens">Assitir Mais Tarde</li></a>
                
            </ul>
            <ul class="menu-right">
                <input type="text" placeholder="Buscar..." class="search-box"></input>
                <div class="icons-menu-right">
                    <a class="login" href="/login?id=login">Entrar</a>
                    <a class="signup" href="/cadastrar?id=cadastrar">Registrar</a>
                    <button class="search-icon" ><img class="img-icon-search" src="../icon/search.png" alt=""></button>
                    <img class="profile" src="../icon/profile.png" alt="">
                </div>
                <div class="profile-submenu">
                    <div class="submenu-first">
                        <p class="nameProfile"></p>
                        <a href="/dashboard"><span>Ver perfil</span></a>
                    </div>
                    <hr>
                   <div class="submenu-secundary">
                        <a href="/dashboard"><p>Listas</p></a>
                        <a href="/logout">Sair</a>
                   </div>
                </div>
            </ul>
        </div>
        <div class="banner">
            <div class="banner-shadow">
                <div class="iconUser"><%=name%></div>
                <div class="profile-info">
                    <div class="info-primary-profile">
                        <p class="name-profile"><%=name%></p>
                        <span class="date-profile"><%=created_at%></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <h3 class="titleFavorites">Lista de Filmes Favoritos</h3>
        <div class="favoritesMovie"> -->
        <h1 id="favorites" class="title-carousel">Lista de Filmes Favoritos</h1>
        <div class="wrapper">
            <button class="buttonLeft"><img src="../icon/angleLeft.png" alt=""></button>
            <div class="carousel">
                <ul class="listMovie" id="listMovieFavorites"></ul>
            </div>

            <button class="buttonRight"><img src="../icon/angleRight.png" alt=""></button>
        </div>
        <h1 id="interest" class="title-carousel">Lista para Assistir mais tarde</h1>
        <div class="wrapper">
            <button class="buttonLeft"><img src="../icon/angleLeft.png" alt=""></button>
            <div class="carousel" id="carousel-interest">
                <ul class="listMovie" id="listMovieInterest"></ul>
            </div>

            <button class="buttonRight"><img src="../icon/angleRight.png" alt=""></button>
        </div>
        <h1 id="recommendations" class="title-carousel">Recomendações</h1>
        <div class="wrapper">
            <button class="buttonLeft"><img src="../icon/angleLeft.png" alt=""></button>
            <div class="carousel" id="carousel-recommendations">
                <ul class="listMovie" id="listMovieRecommendations"></ul>
            </div>

            <button class="buttonRight"><img src="../icon/angleRight.png" alt=""></button>
        </div>
        <footer class="footer">
            <div class="footer-copy">
                <p>&copy; MovieFinder 2023</p>
            </div>
            <div class="footer-first">
                <p>Filmes</p>
                <ul>
                    <li><a href="">Populares</a></li>
                    <li><a href="">Em Cartaz</a></li>
                    <li><a href="">Tendências</a></li>
                    <li><a href="">Melhores Avaliados</a></li>
                </ul>
            </div>
        
            <div class="footer-second">
                <p>Minhas Listas</p>
                <ul>
                    <li><a href="">Lista de Favoritos</a></li>
                    <li><a href="">Lista Assistir Mais tarde</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <p>Social</p>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">LinkedLn</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="../js/logadoOrNot.js"></script>
    <script src="../js/global.js"></script>
    <script src="../js/perfil.js"></script>
</body>
</html>